<!--темплейт для отображения подтверждения удаления-->


<div class="modal-header">
    <!--<button class="close" type="button" ng-click="$dismiss()">x</button>-->
    <h4>Уверены, что хотите удалить</h4>
</div>
<div class="modal-body">

    <p ng-repeat='view in mySelectedRows'>{{::view.title}} </p>

</div>
<div class="modal-footer">
    <!--<button class="btn btn-default" ng-click="$dismiss()">Отмена</button>-->
    <!--<button class="btn btn-danger" ng-click="$close()">Удалить</button>-->
    <!---->
    <button class="btn btn-default" ng-click="closeThisDialog('button')">Отмена</button>
    <button class="btn btn-danger" ng-click="confirm('OK')">Удалить</button>

</div>


<!--<div class="dialog-contents">-->
    <!--<div class="modal-header">-->
        <!--<h4>Уверены, что хотите удалить</h4>-->
    <!--</div>-->
    <!--<p ng-repeat='view in mySelectedRows'>{{::view.title}} </p>-->

    <!--<button ng-click="closeThisDialog()">Отмена</button>-->
    <!--<button ng-click="confirm()">Удалить</button>-->
<!--</div>-->
