<!--темплейт для отображения всех записей из таблицы-->

<div class="view-wrapper">

    <div class="nav">
        <ul class="nav-bar">
            <li><a ui-sref="view.add">Добавить новую запись</a></li>
            <li><a ng-click="removing()">Удалить запись</a></li>
            <li><a ui-sref="view.edit({id:mySelectedRows.entity.id})">Редактировать запись</a></li>
        </ul>
    </div>

<div ui-grid="gridOptions" ui-grid-selection class="grid"></div>

</div>




<!--<table class="table-view">-->
<!--<tthead>-->
<!--<tr>-->
<!--<th>ID</th>-->
<!--<th>USER ID</th>-->
<!--<th>TITLE</th>-->
<!--<th>BODY</th>-->
<!--<th>ACTIONS</th>-->
<!--</tr>-->
<!--</tthead>-->
<!--<tbody>-->
<!--<tr ng-repeat="rec in vm.recs">-->
<!--<td>{{rec.id}}</td>-->
<!--<td>{{rec.userId}}</td>-->
<!--<td>{{rec.title}}</td>-->
<!--<td>{{rec.body}}</td>-->
<!--<td>-->
<!--<a ui-sref = "edit({id:rec.id})">Edit</a>-->
<!--<a href="">Del</a>-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->


<!--</table>-->
